<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>LinkeRater | {% block title %}{% endblock title %}</title>
</head>
<body>
   <nav class="py-6 px-12 flex items-center justify-between bg-purple-700">
      <a href="{% url 'core:index' %}" class="text-2xl text-white font-bold">LinkRater</a>
      <div class= "space-x-6">
        <a href="" class="py-4 px-8 bg-purple-900 text-white">Log-in</a>
        <a href="" class="py-4 px-8 bg-purple-500 text-white">Sign-in</a>
      </div>
   </nav>

    <main class="py-6 px-12" >
        {% block content %}

        {% endblock content %}
    </main>

</body>
</html>

